{
    "openapi": "3.1.0",
    "info": {
        "title": "repliers",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.repliers.io"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "apiKey",
                "in": "header",
                "name": "REPLIERS-API-KEY"
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/listings": {
            "$ref": "listings.yml#/paths/~1listings"
        },
        "/listings/{mlsNumber}": {
            "$ref": "listings.yml#/paths/~1listings~1{mlsNumber}"
        },
        "/listings/{mlsNumber}/similar": {
            "$ref": "listings.yml#/paths/~1listings~1{mlsNumber}~1similar"
        },
        "/listings/history": {
            "$ref": "listings.yml#/paths/~1listings~1history"
        },
        "/listings/deleted": {
            "$ref": "listings.yml#/paths/~1listings~1deleted"
        },
        "/listings/locations": {
            "$ref": "listings.yml#/paths/~1listings~1locations"
        },
        "/listings/property-types": {
            "$ref": "listings.yml#/paths/~1listings~1property-types"
        },
        "/locations": {
            "$ref": "locations.yml#/paths/~1locations"
        },
        "/locations/autocomplete": {
            "$ref": "locations.yml#/paths/~1locations~1autocomplete"
        },
        "/brokerages": {
            "$ref": "brokerages.yml#/paths/~1brokerages"
        },
        "/offices": {
            "$ref": "offices.yml#/paths/~1offices"
        },
        "/members": {
            "$ref": "members.yml#/paths/~1members"
        },
        "/listings/buildings": {
            "$ref": "listings.yml#/paths/~1listings~1buildings"
        },
        "/places": {
            "$ref": "places.yml#/paths/~1places"
        },
        "/agents": {
            "$ref": "agents.yml#/paths/~1agents"
        },
        "/agents/{agentId}": {
            "$ref": "agents.yml#/paths/~1agents~1{agentId}"
        },
        "/agents/{agentId}/transfer": {
            "$ref": "agents.yml#/paths/~1agents~1{agentId}~1transfer"
        },
        "/clients": {
            "$ref": "clients.yml#/paths/~1clients"
        },
        "/clients/{clientId}": {
            "$ref": "clients.yml#/paths/~1clients~1{clientId}"
        },
        "/clients/tags": {
            "$ref": "clients.yml#/paths/~1clients~1tags"
        },
        "/clients/tags/{tag}": {
            "$ref": "clients.yml#/paths/~1clients~1tags~1{tag}"
        },
        "/searches": {
            "$ref": "searches.yml#/paths/~1searches"
        },
        "/searches/{searchId}": {
            "$ref": "searches.yml#/paths/~1searches~1{searchId}"
        },
        "/searches/{searchId}/matches": {
            "$ref": "searches.yml#/paths/~1searches~1{searchId}~1matches"
        },
        "/searches/{searchId}/matches/{matchId}": {
            "$ref": "searches.yml#/paths/~1searches~1{searchId}~1matches~1{matchId}"
        },
        "/estimates": {
            "$ref": "estimates.yml#/paths/~1estimates"
        },
        "/estimates/{estimateId}": {
            "$ref": "estimates.yml#/paths/~1estimates~1{estimateId}"
        },
        "/messages": {
            "$ref": "messages.yml#/paths/~1messages"
        },
        "/messages/{messageId}": {
            "$ref": "messages.yml#/paths/~1messages~1{messageId}"
        },
        "/favorites": {
            "$ref": "favorites.yml#/paths/~1favorites"
        },
        "/favorites/{favoriteId}": {
            "$ref": "favorites.yml#/paths/~1favorites~1{favoriteId}"
        },
        "/webhooks": {
            "$ref": "webhooks.yml#/paths/~1webhooks"
        },
        "/webhooks/{webhookId}": {
            "$ref": "webhooks.yml#/paths/~1webhooks~1{webhookId}"
        },
        "/webhooks/events": {
            "$ref": "webhooks.yml#/paths/~1webhooks~1events"
        },
        "/nlp": {
            "$ref": "nlp.yml#/paths/~1nlp"
        },
        "/nlp/chats": {
            "$ref": "nlp.yml#/paths/~1nlp~1chats"
        },
        "/buildings": {
            "$ref": "buildings.yml#/paths/~1buildings"
        },
        "/buildings/{addressKey}": {
            "$ref": "buildings.yml#/paths/~1buildings~1{addressKey}"
        }
    },
    "x-readme": {
        "headers": [],
        "explorer-enabled": true,
        "proxy-enabled": true
    },
    "x-readme-fauxas": true
}
